* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#player1,
#player2 {
  display: inline-block;
  width: 200px;
  height: 140px;
  border: 1px solid black;
  padding: 5px;
  margin: 25px;
  text-align: center;
  font-size: 7rem;
}
#output {
  width: 550px;
  text-align: center;
  font: 2rem;
}
button {
  padding: 10px;
  text-align: center;
  width: 550px;
}
